.container {
    width: 90vw;
    min-height: 80vh;
    color: white;
    background: #9B533F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
}
/* 987554*/